<!DOCTYPE html>
<html>
<head>
    <title>View Orders</title>
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>

<h1>View Orders</h1>

<div class="button-container">
    <a href="/admin/orders#hotwheels"><button class="category-btn">Hotwheels</button></a>
    <a href="/admin/orders#custom"><button class="category-btn">Custom T-shirt</button></a>
    <a href="/admin/orders#diecast"><button class="category-btn">Diecast Cars</button></a>
    <a href="/admin/orders#rc"><button class="category-btn">RC Cars</button></a>
</div>

<a href="/admin/categories">Back</a>

</body>
</html>