body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #ededed, #ededed);
    margin: 0;
    padding: 0;
    color: #947575;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.card {
    background: #e3e3e1;
    color: #000;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 260px;
    object-fit: contain;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}


.btn {
    background: #ecd7b7;
    color: #000;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s, background 0.3s;
}

.btn:hover {
    background: #ffc107;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {opacity:0; transform:translateY(10px)}
    to {opacity:1; transform:translateY(0)}
}

@media (min-width: 900px) {
    .card img {
        max-height: 220px;
    }
}
