<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div style="text-align: center;">
<img src="/static/logo.png" alt="RevWheels Logo" class="logo" style="max-width: 500px; height: auto;">
</div>
<h1>RevWheels.co</h1>
<h2>Thanks for visiting our website. For support contact 63698 34057 </h2>

<div class="button-container">
    <a href="/hotwheels"><button class="category-btn">Hotwheels</button></a>
    <a href="/custom-t-shirt"><button class="category-btn">Custom T-shirt</button></a>
    <a href="/diecast-cars"><button class="category-btn">Diecast Cars</button></a>
    <a href="/rc-cars"><button class="category-btn">RC Cars</button></a>
</div>

</body>
</html>
