<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">


</head>
<body>

<h2>Shop</h2>

<div class="grid">
{% for p in products %}
    <div class="card">
        <img src="/static/uploads/{{ p.image }}" width="150">
        <h3>{{ p.name }}</h3>
        <p>₹{{ p.price }}</p>
        <p>{{ p.offer }}</p>

        <form method="post" action="/cart/add/{{ loop.index0 }}">
            <button>Add to Cart</button>
        </form>
    </div>
{% endfor %}
</div>

<a href="/cart" class="cart-btn">🛒 View Cart</a>

</body>
</html>
