<!DOCTYPE html>
<html>
<head>
    <title>Order Successful</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>
<body>

<div class="container">
    <div class="card" style="text-align:center">
        <h2>✅ Payment Successful</h2>
        <p>Your order has been placed.</p>
        <p>We will contact you soon.</p>

        <a href="/shop">
            <button class="btn">Continue Shopping</button>
        </a>
    </div>
</div>

</body>
</html>
